* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,h3,h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}